body {
    background-color: #f8f9fa; /* Color de fondo del cuerpo */
}
.container {
    margin-top: 50px; /* Margen superior para el contenedor principal */
}
.card {
    border: none; /* Sin bordes para la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la tarjeta */
}
.card-header {
    background-color: #007bff; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}
.form-group label {
    font-weight: bold; /* Negrita para las etiquetas */
}
.boton-intercambiar {
    display: flex; /* Flexbox para el botón de intercambio */
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.boton-intercambiar .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    border: none; /* Sin borde */
}
.boton-intercambiar .btn:hover {
    background-color: #0056b3; /* Color de fondo al hacer hover */
}
.boton-intercambiar .svg-icon {
    fill: #ffffff; /* Color del ícono SVG */
    transition: transform 0.6s, fill 0.3s; /* Transiciones suaves */
}
.btn:hover .svg-icon {
    transform: rotateY(180deg); /* Rotación del ícono al hacer hover */
    fill: #00f2ff; /* Cambio de color del ícono al hacer hover */
}
#resultado {
    display: none; /* Oculto por defecto */
    background-color: #e9ecef; /* Color de fondo del resultado */
    padding: 10px; /* Relleno */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
    margin-top: 20px; /* Margen superior */
}
.conversion-invalida {
    background-color: #ffdddd !important; /* Color de fondo para conversiones inválidas */
    border: 1px solid #ff0000; /* Borde rojo para conversiones inválidas */
}
.subrayado {
    text-decoration: underline; /* Subrayado */
    font-weight: bold; /* Negrita */
}
.unidad-seleccionada {
    background-color: #ffdddd !important; /* Color de fondo para unidades iguales */
    border: 1px solid #ff0000; /* Borde rojo para unidades iguales */
}
